.message-area {
    h4 {
        margin-block: 20px;
    }
}
.message {
    margin-bottom: 20px;
    position: relative;
    background-color: #e8e8e8;
    width: 100%;
    height: 200px;
    p {
        padding: 10px;
    }
    button{
        background-color: #f8dc9a;
        color: #785e4c;
        border: none;
        position: absolute; 
        bottom: 0; right: 0px;
    }
}