.link-style {
    text-decoration: none;
    color: #ab927d;
}
.image {
    img{
        width: 120px;
        height: 90px;
        object-fit: cover;
        padding-right: 10px;
    }
}

.image-text {
    margin-block: 10px;
    display: flex;
    align-items: center;
    p {
        color: #ab927d;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.list-h {
    max-height: 1000px;
    
}

.menu {
    // position: absolute;
    display: flex;
    justify-content: flex-end; 
}

.dropdown-position{
    position: absolute;
}

.dropdown-menu {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #c0c0c0;
    // box-shadow: 0px 28px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: -60px;
    button {
        flex: 1;
        border: none;
        border-radius: 2px;
    }
    button:hover {
        background-color: #c7c7c7;
    }
}