// homepage

// 關於我們區塊
.about-title {
  color: var(--primary-dark);
}
.lead {
  color: var(--primary-dark);
}
.about-text {
    color: var(--brown);
}
.about-btn {
    color: var(--white);
    background-color: var(--brown);
    & :hover {
        color: var(--white);
        background-color: var(--primary-dark);
    }
}


// 精選商品區塊
.section-heading {
  color: var(--primary-dark);
}

.full-background {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-image: url('/images/section-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.featured {
    background-image: url('/public/background.png');
    background-size: 75% ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 53.9px 0px rgba(166, 166, 166, 0.25);
}

.featured-card {
    width: 80%;
}
.card-title {
    color: var(--primary-dark);
}

.no-underline {
    text-decoration: none;
}
