// 關於我們區塊
.about-title {
  color: var(--primary-dark);
}
.lead {
  color: var(--primary-dark);
}
.about-text {
    color: var(--brown);
}
.about-btn {
    color: var(--white);
    background-color: var(--brown);
    & :hover {
        color: var(--white);
        background-color: var(--primary-dark);
    }
}

@media screen and (max-width: 768px) {
    .about-btn {
        text-align: center;
    }
}


// 熱銷商品區塊
.section-heading {
  color: var(--primary-dark);
}

.full-background {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.featured {
    border-radius: 5px;
    background-image: url('/public/background.png');
    background-size: 75% ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 53.9px 0px rgba(166, 166, 166, 0.25);
}


// 產品 & 課程卡片 元件用
.featured-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.card-title {
    color: var(--primary-dark);
}

.no-underline {
    text-decoration: none;
}







// 最新消息 文章區塊

.article-section {
    align-items: center;
    margin-bottom: 10px;
    padding: 0 30px;
}

.article-block {
    display: flex;
    flex-direction:initial; // 左右並排
    justify-content: space-between;
    text-align: left;
}

.article-card {
    width: 50%;
    display: flex;
    flex-direction: row; 
    border-radius: 5px;
    border: 1px solid var(--grey, #C0C0C0);
    background: var(--white, #FFF);
    box-shadow: 0px 5px 53.9px 0px rgba(166, 166, 166, 0.25);
    &:hover {
        box-shadow: 0px 5px 53.9px 0px rgba(166, 166, 166, 0.5);
    }
}

.article-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.read-more{
    width: 100px;
}

.article-title {
    color: var(--primary-dark);
    font-weight: bold;
    font-size: large;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: var(--brown);
    padding-left: 10px;
    align-items: start;
}

.article-date {
    color: var(--primary-dark);
}

.btn-grey {
    color: var(--white);
    &:hover { 
        background-color: var(--dark-grey);
        color: var(--white);
    }
}

@media screen and (max-width: 768px) {
    .article-block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .article-card {
        width: 100%;
        margin-bottom: 10px;
        &:hover {
            box-shadow: 0px 5px 53.9px 0px rgba(166, 166, 166, 0.25);
        }
    }
}
