

.cardProduct{
    position: relative;
    
}
.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 0;
}

.badge {
    position: relative;
    top: 0;
    left: 0;   
}
.cardText {
    color: var(--primary-dark);
    font-weight: bold;
}
.typeText {
    color: var(--dark-grey);
    font-weight: normal;
}

.currency {
    font-weight: bold;
    color: var(--primary-dark);
}

.heartIcon {
    position: absolute;
    top: 1vh;
    left: 16.5vw;
}

.btnCart {
    background-color: var(--light-brown);
    color: var(--white);
    width: 80%;
    height: 5vh;
    margin-top: 0.5vh;
    border: none;
    border-radius: 5px;

    &:hover{
    background-color: var(--brown);

    }
}
