.content-nav {
    display: block;
    padding: 13px 56px;
    margin: 0 3px 10px 6px;
    position: relative;
    color: #785e4c;
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s ease-out;
    font-size: 20px;
    letter-spacing: 1px;
    overflow: hidden;
    border-top: 1px solid #cebeb0;;
    border-bottom: 1px solid #cebeb0;;
    z-index: 0;
  
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      background-color: #cebeb0;;
      transition: height 0.3s ease-in-out;
      z-index: -1;
    }
  
    &:hover:before, &:focus:before {
        height: 100%;
    }
  
    &:hover, &:focus {
      color: var(--primary-dark, #785e4c);
    }
  }
  