@import '@/node_modules/bootstrap/scss/functions';

@import '@/node_modules/bootstrap/scss/variables';

.container {
    display: flex;
    justify-content: center;
}
//頭像
.articleUser{
    
    font-size: 20px;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 15px;
        object-fit: cover;
    }
   
}
