@import '@/node_modules/bootstrap/scss/functions';

@import '@/node_modules/bootstrap/scss/variables';

 /* 頭像 */
 .article-text {
    text-align: center;
}

.article-user {
    font-size: 20px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 15px;
        object-fit: cover;
    }
}

/* 標籤 */
.article-btn {
    button {
        margin-block: 30px;
        margin-right: 15px;
        background-color: #ab927d;
        color: white;
        border: none;
    }
}

/* 文章標題 */
.article-title {
    margin-bottom: 30px;
}

/* 文章圖片 */
.article-img {
    max-width: 610px;
    max-height: 315px;
    margin: 50px auto;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* 留言區 */
.message-area {
    h4 {
        margin-block: 20px;
    }
}
.message {
    margin-bottom: 20px;
    position: relative;
    background-color: #f0b47c;
    width: 100%;
    height: 200px;
    p {
        padding: 10px;
    }
    button{
        background-color: #ec7d4a;
        color: brown;
        border: none;
        position: absolute; 
        bottom: 0; right: 0px;
    }
}