/* cart */
@import '@/node_modules/bootstrap/scss/functions';

@import '@/node_modules/bootstrap/scss/variables';

.card-body {
  height: 140px;
  padding: 0;
}

.h6{
  font-size: 18px;
}

.pay-area{
  position: sticky;
}

.text-border-brown{
  border-bottom: 1px solid #ab927d;  
}

.border-borwn{
  border-bottom: 2px solid #ab927d;  
}

.cart-button {
  width: 192px;
  background: var(--brown, #ab927d);
  border-radius: 3px;
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 0.5px;
  padding: 10px 48px 10px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.cart-button-text {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "RobotoMono-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.step-button {
  background: var(--secondary, #f8dc9a);
  width: 160px;
  height: 48px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.step-button-text {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--h4-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h4-font-size, 24px);
  line-height: var(--h4-line-height);
  font-weight: var(--h4-font-weight, 400);
  position: relative;
  -webkit-text-stroke: 0.5px var(--black, #252525);
}

.pay-content{
  border: 3px solid #785e4c;
  margin-top: 48px;
  top: 60px;
}

.pay-button {
  background: var(--grey, #c0c0c0);
  border-radius: 3px;
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 110px;
  height: 39px;
  position: relative;
  box-shadow: var(---box-shadow, 3px 4px 4px 0px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}

.coupon-button {
  background: var(--white, #ffffff);
  border-radius: 5px;
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 1px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 82px;
  height: 36px;
  position: relative;
  overflow: hidden;
  .text {
    color: var(--brown, #ab927d);
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }
}

.cart-button {
  width: 192px;
  background: var(--brown, #ab927d);
  border-radius: 3px;
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 0.5px;
  padding: 10px 48px 10px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  .text{
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "RobotoMono-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }
}

.cart-custom-bootstrap {
  border-width: 2px;
  border-radius: 3px;
  border-color: #868686;
}














